# Lets upgrade Day 2 assignment

In [29]:
print("Hello python")

Hello python

In [30]:
print("Hello\npython")

Hello
python

In [33]:
name = "pqr"
salary=25000
age=23
print("The name of employee is",name,"salary is",salary,"age is",age)

The name of employee is pqr salary is 25000 age is 23

In [35]:
print("The name of employee is %s salary is %d age is %d "%(name,salary,age))

The name of employee is pqr salary is 25000 age is 23

In [37]:
x=10
y=10

In [38]:
id(x)

140734320386736

In [39]:
id(y)

140734320386736

In [11]:
2**3

8

In [12]:
2**-1

0.5

In [4]:
23|10  # OR operation of 10111 and 1010 is 11111

31

In [5]:
bin(23)

'0b10111'

In [6]:
bin(10)

'0b1010'

In [7]:
bin(31)

'0b11111'

In [9]:
 a = 23
 b = 23
a==b

True

In [15]:
a=20
b=10
a+=b
a

30

In [19]:
a>30 or a>10

True

In [18]:
a>30 and a>10

False

In [23]:
9>10 and 20>A #First condition is false so they dont check second.

False

In [24]:
90>10 and 20>A #Gives error.

NameError: name 'A' is not defined

In [25]:
abc="python"
"n" in abc

True

In [26]:
"a" in abc

False

In [27]:
"a" not in abc

True